@charset "utf-8";
/* CSS Document */

html,body{
	font-family:'Nanum Brush Script','Noto Sans TC',"微軟正黑體";
	padding:0;
	margin:0;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    position: relative;
}

.title,.tbg{
    width: 100%;
}

.title>img{
    width: 95%;
}

.tbg>img{
    width: 100%;
}

.title{
    position: absolute;
    text-align: center;
    top:5px;
    z-index: 100;
}

.tbg{
    position: absolute;
    top:0;
}

.bg{
    position: absolute;
    top:50px;
    width: 100%;
}

.bg>img{
    width: 100%;
}


.dialogue{
    background: #ff6e9e;
    color: #fff;
    bottom: 50px;
    padding: 5px 15px 10px 15px;
    position: fixed;
    z-index: 50;
}

.dialogue>p{
    font-size: 15px;
    line-height: 20px;
    margin: 5px 0px;
}

.dialogue>h3{
    margin: 5px 0px; 
}

input {
    padding:5px 15px;
    background: #ff6e9e;
    border: none;
    border-bottom: #fff 1px solid;
    outline: none;
    display: inline-block;
    caret-color:#fff;
    color:#fff;
}

.button{
    width: 60px;
    position: absolute;
    left: 15px;
    top: 45%;
}

a>img{
    width: 100%;
}

a{
    display:block;
    width: 60px;
    cursor:pointer;
}

.cha{
    width: 100px;
    position: absolute;
    top: 45%;
    right:30px;
}

.cha>img{
    width: 100%;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer>img{
    width: 100%;
}